.header {
    justify-content: center;
    text-align:center;
    color: #e3f1ff;
}
ol li {
    list-style-position: inside;
}
.exa {
    background: #5d6c92;
alink="#CCEDFFFF";

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.exam {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#table {
    color: #2b4161;
    text-align:center;
    line-height:275%;
}
footer {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:  30px;
    background: #444C;
    color: white;
}
a.foo:hover {
  text-decoration-color: black;
  color: black;
}
a.foo {
  text-decoration-color: white;
  color: white;
}
